
	#logo{
		position: relative;
		width: 170px;
		height: 130px;
	}
	body
	{
		background-color: #4682B4;
	}
	.title{
		position: relative;
		left: 38%;
		bottom: 120px;
		background-color: darkslategrey;
		width: 300px;
		border: 2px solid black;
		height: 40px;
		text-align: center;
		border-radius: 5px 5px 5px 5px;
	}
	#conseils{
		background-color: gainsboro;
		border: 2px solid white;
		height:350px;
		font-size: 20px;
		padding: 5px;
		font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
		position: relative;
		bottom: 50px;
	}
	#conseils:hover{
		background-color: white;
		border-radius: 4px 4px 4px 4px;
	}
	.etape{
		text-align: center;
		font-weight: bold;
		text-decoration: underline;
		font-size: large;
	}
	.etapes{
		font-weight:bold;
	}
	.mail{
		background-color: royalblue;
		width: 350px;
		height: 40px;
		border: 1px solid black;
		border-radius: 3px 3px 3px 3px;
		text-align: center;
		font-weight: 900;
		position: relative;
		left: 500px;
		top: 40px;
		box-shadow: 4px 4px 4px black;
	}
	#download{
		background-color: rgb(235, 21, 21);
		width: 200px;
		height: 40px;
		position: relative;
		bottom: 40px;
		text-align: center;
	}
	#download a{
		text-decoration: none;
		position: relative;
		top: 10px;
		color: black;
		font-weight: bold;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		transition-property: all;
		transition-delay: .2s;
		transition-duration: 1.5s;
		transition-timing-function: ease;
	}
	#download a:hover{
		color: white;
	}
	form #nom{
		height: 35px;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 2px 2px 2px black inset;
		position: relative;
		left: 50px;
		
	}
	form #mail{
		height: 35px;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 2px 2px 2px black inset;
		position: relative;
		left: 200px;
		
	}
	form textarea{
		position: relative;
		top: 25px;
		left: 50px;
		border-radius: 4px 4px 4px 4px;
	}
	form #bouton{
		position: relative;
		left: 800px;
		bottom: 80px;
		height: 35px;
		background-color: rgb(246, 247, 248);
		color: black;
		border-radius: 4px 4px 4px 4px;
	}
	footer{
		background-color: black;
		color: white;
		height: 150px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		border: 2px solid white;
		border-radius: 5px 5px 5px 5px;
		position: relative;
		top: 10px;
	}
	footer .licence{
		position: relative;
		text-align: center;
		top: 70px;
	}
	footer .contacts{
		text-align: center;
		position: relative;
		top: 20px;
	}