html{
    background-color: gainsboro;
}
header{
    background-color: white;
    height: 150px;
    width: 100%;
}
#logo{
    width: 150px;
    position: relative;
    top: 20px;
}
#bienvenue{
    height: 300px;
    width: 500px;
    background-color: white;
    position: relative;
    left: 450px;
    top: 70px;
    font-size: x-large;
    font-family: cursive;
    padding: 5px;
}
#bouton{
    width: 250x;
    height: 30px;
    background-color: cornflowerblue;
    position: relative;
    left: 30px;
    bottom: 20px;
    border-radius: 5px 5px 5px 5px;
}
footer{
		background-color: black;
		color: white;
		height: 150px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		border: 2px solid white;
		border-radius: 5px 5px 5px 5px;
		position: relative;
		top: 120px;
	}
	footer .licence{
		position: relative;
		text-align: center;
		top: 70px;
	}
	footer .contacts{
		text-align: center;
		position: relative;
		top: 20px;
	}